apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: shopping-microservices
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/pkrishn1-pk/shopping-microservices.git
    targetRevision: main
    path: charts/shopping-microservices
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
